@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: "TT Chocolates";
      font-weight: 400;
      src: url('/fonts/TT Chocolates Trial ExtraLight.otf') format("opentype");
    }
}